<!DOCTYPE html>
<html lang="en">
<head>
<title>Hello Sunrise</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
</head>

<body>
<div class="jumbotron text-center">
  <h1>Hello Sunrise - 测试版本</h1>
  <p>大家好，由於疫情關係店面沒有營業。目前是每逢星期一、三、五做預訂外送服務。🚚</p>
  <p>&nbsp;</p>
  <p>订购满Rm15免费送货</p>
  <p>如第一次下訂單，记得附上地址哦</p>
  <p>&nbsp;</p>
  <p>可以的话请用银行转账</p>
  <p>Public Bank</p>
  <p>xxxxxx</p>
  <p>xxxxxxxxxx</p>
  <p>&nbsp;</p>
  <p>如现钱交易 - 请将现钱放进信封或纸袋，请给整数不方便找零钱，谢谢大家的合作</p>
</div>
	
<div id="app">
	<div v-if="content=='home'"><!-- Home -->
		<div id="home-button-tab" class="button-tab text-right container-fluid">
			<div class="container" style="text-align: center;">
				<h2>Hello Sunrise - 测试版本</h2>
			</div>
			<!-- <button id="cart-btn" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">Cart ({{cartItems.length}})</button> -->
			<button id="cart-btn" class="btn btn-primary" @click="changePage('cart')">购物车 ({{cartItems.length}})</button>
		</div>

		<div id="loading" class="text-center d-none">
		  <div class="spinner-border" role="status">
		    <span class="sr-only">Loading...</span>
		  </div>
		</div>

		<div class="container content">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12" v-for="(item, index) in items">
					<div class="item">
						<div class="item-image-wrapper">
							<figure class="item-image-container">
								<img :src="item.product_image_url" :alt="item.title" class="item-image">
							</figure>
							<div>
							<span class="new-circle top-left" v-if="item.is_new == 'Y'">新产品</span>
							<span class="discount-circle top-right" v-if="item.sales_price != ''">{{ Math.round((item.price-item.sales_price)/item.price*100 * Math.pow(10, 0)) / Math.pow(10, 0) }}%</span>
							</div>
						</div>
						<div class="item-meta-container">
							<div class="item-meta-inner-container clearfix">
								<div class="item-price-container inline pull-left" style="float: left; width: auto; margin-bottom: 0px; text-align: center;" v-if="item.sales_price != ''">
									<span class="old-price">{{ item.price | formatCurrency }}</span>
									<span class="item-price">{{ item.sales_price | formatCurrency }}</span>
								</div>
								<div class="item-price-container inline pull-left" style="float: left; width: auto; margin-bottom: 0px; text-align: center;" v-else>
									<span class="item-price">{{ item.price | formatCurrency }}</span>
								</div>
							</div>
							<h3 class="item-name">{{ item.product_title }}</h3>
							<div class="item-action">
								<!-- <p class="text-center"><input v-model="item.quantity" type="number" class="form-control" placeholder="Qty" min="1" value="1"/></p> -->
								<button @click="addToCart(index)" class="btn btn-sm btn-primary icon-cart-text" v-if="typeof item.quantity == 'undefined' || item.quantity == '' || item.quantity == 0">加入购物车</button>
								<span class="btn btn-sm btn-primary icon-cart-text" style="cursor:default;" v-else>Added</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Home -->

	<div v-if="content=='cart'" class="cart"><!-- Cart -->
		<div class="button-tab text-right container-fluid">
			<div class="container" style="text-align: center;">
				<h2>Simple Shopping Cart without Server</h2>
			</div>
			<button id="home-btn" class="btn btn-primary" @click="changePage('home')">Home</button>
		</div>

		<div class="container content">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12" v-for="(cartItem, cartIndex) in cartItems">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<hr>
						</div>
					</div>
					<div class="row padding-row">
						<div class="col-sm-4">
							<div class="text-center"><strong>{{cartItem.product_title}}</strong></div>
							<div class="text-center"><img :src="cartItem.product_image_url" :alt="cartItem.title" class="item-image"></div>
						</div>
						<div class="col-sm-4 text-center">QTY:
							<input v-model="cartItem.quantity" class="form-control input-qty" type="number" min="1">
						</div>
						<div class="col-sm-3 text-center" v-if="cartItem.sales_price != ''">{{cartItem.sales_price  * cartItem.quantity | formatCurrency}}</div>
						<div class="col-sm-3 text-center" v-else>{{cartItem.price  * cartItem.quantity | formatCurrency}}</div>
						<div class="col-sm-1 text-center">
							<button @click="removeFromCart(cartIndex)"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/></svg></button>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<hr>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" v-show="cartItems.length === 0">
					<div>Cart is empty</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" v-show="cartItems.length > 0">
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-6 col-sm-4 text-center"><strong>Cart Total</strong></div>
						<div class="col-6 col-sm-3 text-center"><strong>{{CartTotal | formatCurrency}}</strong></div>
						<div class="col-sm-1"></div>
					</div>
				</div>
				<div class="col-12">
					<hr>
				</div>
				<div class="col-12">
					<div class="row padding-row">
						<div class="col-12" v-if="errors.length" style="color: red;">
							  <p>
							    <b>Please correct the following error(s):</b>
							    <ul>
							      <li v-for="error in errors">{{ error }}</li>
							    </ul>
							  </p>
						</div>
					</div>
					<div class="row padding-row">
						<div class="col-sm-2">Name</div>
						<div class="col-sm-10"><input type="text" v-model="profile.name" required="" class="form-control"></div>
					</div>
					<div class="row padding-row">
						<div class="col-sm-2">WhatsApp</div>
						<div class="col-sm-10"><input type="number" maxlength="10" v-model="profile.whatsapp" required="" class="form-control"></div>
					</div>
					<div class="row padding-row">
						<div class="col-sm-2">Address</div>
						<div class="col-sm-10"><textarea v-model="profile.address" required="" class="form-control"></textarea></div>
					</div>
				</div>
				<div class="col-12 text-center">
					<button class="btn btn-primary" @click="submitOrder()">Submit Order</button>
				</div>
			</div>
		</div>
	</div><!-- End Cart -->

</div>

<footer id="site-info" class="text-center">
	Copyright &copy; jesslynkoh89
</footer>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
